  /*
  nuestra paleta de colores::after

--color1 { color:#000000 };
--color2 { color:#111111 };
--color3 { color:#222222 };
--color4 { color:#333333 };
--color5 { color:#444444 };
*/


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}

body {
  font-family: "Roboto", sans-serif;
  color: #455a64;

  background-color: rgba(180,217,222,255);
}

.contenedor {
  max-width: 1170px;
  margin: 0 auto 1rem;
  padding: 1.5rem;

}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(69, 90, 100, 0.7);
  border-radius: 5px;
}
@media screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.servicios {
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .servicios {
    text-align: left;
  }
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.info-empresa {
  padding: 1rem;
  background-color: #ffffff;
}
.info-empresa h3 {
  text-align: center;
}
@media screen and (min-width: 700px) {
  .info-empresa h3 {
    text-align: left;
    margin-bottom: 0.5rem;
  }
}

.nombre-empresa {
  color: #ffffff;
}

.contacto {
  padding: 1rem;
  background-color: #eaeff1;
}
.contacto h3 {
  margin-bottom: 1rem;
}
.htree{
    color: black;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}
.formulario label {
  display: block;
}
.formulario button,
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ffffff;
}
.formulario textarea {
  resize: none;
}

.full {
  grid-column: 1/3;
}

.boton-enviar {
  background-color: #ccd7dc;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.boton-enviar:focus, .boton-enviar:hover {
  background-color: #455a64;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}