/*
  nuestra paleta de colores::after

--color1 { color:#000000 };
--color2 { color:#111111 };
--color3 { color:#222222 };
--color4 { color:#333333 };
--color5 { color:#444444 };
*/

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: "Poppins", sans-serif;


}

/*header*/

/* .hear {
  width: 100%;
  height: 1000px;
  background: #ffffff; /* fallback for old browsers */
  /* background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hear .textos-headers {
  display: flex;
  height: 430px;
  transform: translateY(200px);
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.textos-headers h1,
h2,
h3 {
  font-size: 50px;
  color: #ffff;
}

.textos-headers {
  width: 400px;
  height: 220px;
  position: relative;
}

h1,
h2 {
  font-size: 75px;
 
}
h1 span,
h2 span {
  width: 100%;
  float: left;
  color: #000000;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(-50px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

h1 span {
  animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
}
h1 span:first-child {
  animation-delay: 0.7s;
}
h1 span:last-child {
  color: #ffffff;
  animation-delay: 0.5s;
}


@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}

.textos-headers h2,
h3 {
  font-size: 30px;
  font-weight: 300;
  color: #ffff;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%; 
} */

/*Texto en el inicio*/
/* 
#coont1 {
  background: #ffff;

  height: max-content;
  display: flex;
  align-items: center;
  min-height: 100%;
  
}

#coont2 {
  background: #ffffff;

  color: #000000;
  height: max-content;
  display: flex;
  align-items: center;
  min-height: 100%;
}

#coont3 {
  background-color: #ffffff;

  color: #000000;
  height: max-content;
  display: flex;
  align-items: center;
  min-height: 100%;
}

#hf {
  color: #000000;
}

section .container {
  margin: 20rem;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h4 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
  align-items: center;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;

  background: #e5e5e5;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
  

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* 


/* Estilos para pantallas medianas */
/* @media (min-width: 768px) and (max-width: 991px) {
  .title {
    font-size: 3.5rem;
  }
  .usechrome {
    font-size: 1rem;
  }*/


  .desa {
    padding: 2em 2em 2em 17em;
    font-size: 16px;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;

  }

 .bloque{
  position: absolute;
  background-color: red;
  z-index: 3;
 }
  
  .toc {
    position:fixed;
    left: 3em;
    top: 5em;
    padding: 1em;
    width: 14em;
    line-height: 2;
  }
  .toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .toc ul ul {
    padding-left: 2em;
  }
  .toc li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .toc li.visible > a {
    color: #111;
    transform: translate(5px);
  }
  
  .toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  .toc-marker path {
    transition: all 0.3s ease;
  }
  
  .contents {
    padding: 1em;
    max-width: 800px;
    font-size: 1.2em;
    font-family: "Frank Ruhl Libre", sans-serif;
  }
  .contents img {
    max-width: 100%;
  }
  .contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%;
  }
  .contents .code-block code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
  }
  .contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px;
  }
  .contents h2,
  .contents h3 {
    padding-top: 1em;
  }
  
  @media screen and (max-width: 1200px) {
    body {
      font-size: 14px;
    }
  }

